{%extends layout.html%}
{% block content %}

<head>
    <title>OWL</title>
    <!-- Esta deberá ser la página orientada a informar de funcionó correctamente el procedimiento-->
</head>
<body style="background-color:#F6F6F6;">
<center>
    <br>
    <br>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    ola si jalo

</center>
</body>
{% endblock %}

